
<div class="form">
<% @posts.each do |post| %>
  <div class="col-md-6">
    <div>
      <br>
        <%= image_tag post.photo.url(:large), class: "media-object img-rounded" %>
        <p> Posted <%= distance_of_time_in_words_to_now post.created_at %> ago </p>
    </div>
    <h4 class="tag">#<%= post.tag_list.map{|tag| link_to tag, tag_path(tag: tag)}.join("  #").html_safe %> </h4>
      <%= link_to 'Delete', delete_post_path(id: post.id), class: "btn btn-primary btn-sm", method: 'delete', data: {confirm: 'Are you sure!?!?!'}%>
  </div>
<% end %>
