<div class="container">

  <div class="jumbotron">
    <h1> Not all who wander are lost </h1>
    <h5> Upload a memory </h5>
    <%= link_to "UPLOAD", new_post_path, class: "btn btn-primary btn-lg"%>
  </div>

  <h4> <%= pluralize @posts.total_count, "Picture" %> </h4>
    <%= render partial: "posts/form" %>
    <%= paginate @posts %>
</div>
